<div class="container">
  <ul>
    <li *ngFor="let enteredWord of inputWords; let i = index" [attr.data-index]="i">
      <span *ngFor="let char of enteredWord.split(''); let j= index" [attr.data-index]="j">
        <span *ngIf="inputWordColors[i][j] === 1">
          <button type="button" class="btn btn-success" style="width: 40px;" > {{char}}</button>
        </span>

        <span *ngIf="inputWordColors[i][j] === 2">
          <button type="button" class="btn btn-warning" style="width: 40px;" > {{char}}</button>
        </span>

        <span *ngIf="inputWordColors[i][j] === 3">
          <button type="button" class="btn btn-dark" style="width: 40px;" > {{char}}</button>
        </span>

        <span *ngIf="inputWordColors[i][j] === -1">
          <button type="button" class="btn btn-light" style="width: 40px;" > {{char}}</button>
        </span>
      </span>
    </li>
  </ul>

  <div>
    <label for="inputWord">Enter valid 5 letter word: </label>
    <input id="inputWord" [(ngModel)]="inputWord" placeholder="input" type="text" maxlength="5" required minlength="5"
      (keyup)="keyPressAlphabets($event)">
    <button *ngIf="!isSubmitted" (click)="onClickEnterWord()">Submit</button>
    <section *ngIf="errorMessage" style="color: red; size : 10 px">
      <p><b>{{ errorMessage }}</b></p>
    </section>
    <section *ngIf="isSubmitted">
      <div *ngFor="let number of [0,1,2,3,4]">
        <div>
          Is <b class="d-inline-block" style="width: 15px;">{{inputWord.charAt(number)}} </b>
          <button type="button" class="btn btn-success mr-1" (click)="onColorSelection(number,1)"> </button>
          <button type="button" class="btn btn-warning mr-1" (click)="onColorSelection(number,2)"> </button>
          <button type="button" class="btn btn-dark mr-1" (click)="onColorSelection(number,3)"> </button>
          ?
          <span *ngIf="inputWordColor[number] === 1">Green</span>
          <span *ngIf="inputWordColor[number] === 2">Yellow</span>
          <span *ngIf="inputWordColor[number] === 3">Black</span>
        </div>
      </div>
      <button (click)="onClickEnterColor()">Submit</button>
    </section>
  </div>

  <span>
    <h2>Possible Words</h2>
    <div class="possibleWords">
      Possible Words Length : <b>{{possibleWords.length}}</b><br>
      <div class="container">
        <div class="row">
          <span class="col-xl-1 col-2" *ngFor="let word of possibleWords">
            {{word}}
          </span>
        </div>
      </div>
    </div>
  </span>
</div>
